DATABASE=
DBHOST=
DBPASSWORD=
DBUSER=

NODE_ENV=
PORT=

# SMTP (here all the smtp detail we have to define)
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
DEFAULT_FROM=
DEFAULT_REPLY_TO=

JWT_SECRET=